:root {
  font-size: 16px;
}

* {
  background-color: #faedf0;
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
  width: 100%;
  height: 125px;
  background-color: #fffdff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffdff;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  background-color: #fffdff;
  padding: 5px 5px;
}

nav ul li a {
  background-color: #fffdff;
  padding: 5px 10px;
  color: #2a2a2a;
}

.hover :hover {
  color: #d0abab;
}

.hover :after {
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fffdff;
  transition: 3s;
  bottom: 0;
}

a {
  color: #2a2a2a;
}

#linkedin {
  background-color: #faedf0;
  padding: 5px 10px;

  border-radius: 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

#linkedin:hover {
  background-color: #d0abab;
}

h1 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  width: auto;
}

img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
}

.media {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  background-color: #fffdff;
  border-radius: 10px;
}

.content {
  position: relative;
  padding: 16px;
  top: 125px;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  height: 100px;
  min-width: 300px;
}

.edu_content {
  position: relative;
  padding: 16px;
  top: 125px;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  height: 100px;
  min-width: 300px;
}

.intro_content {
  flex: 1;
  padding: 20px;
  background-color: #fffdff;
  border-radius: 10px;
  text-align: justify;
  height: 100px;
  min-width: 300px;
}

p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 0.75rem;
}

h2 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  border-radius: 10px;
  width: auto;
}

#dissertation {
  position: relative;
  padding: 16px;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  height: 75px;
  min-width: 300px;
  width: 100%;
  background-color: #fffdff;
}

li {
  background-color: #fffdff;
}
