:root {
  font-size: 16px;
}

* {
  background-color: #faedf0;
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #fffdff;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

#pages {
  background-color: #fffdff;
  text-align: right;
  font-size: 20px;
  height: 25px;
}

#pages:hover {
  background-color: #d0abab;
}

.topnav a {
  color: #2a2a2a;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  text-decoration: none;
  display: block;
  height: 50px;
}

.topnav a.icon {
  background: #fffdff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.topnav a:hover {
  background-color: #d0abab;
  color: #fffdff;
}

.topnav .active {
  background-color: #fffdff;
  color: #2a2a2a;
}

.topnav .menu {
  background-color: #fffdff;
  color: #2a2a2a;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 50px;
}

.topnav .menu:hover {
  background-color: #d0abab;
  color: #fffdff;
}

#linkedin {
  background-color: #faedf0;
  padding: 5px 10px;
  border-radius: 180px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

#linkedin:hover {
  background-color: #d0abab;
}

.content {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  top: 50px;
  text-align: justify;
  height: 300px;
  min-width: 300px;
}

.content img {
  border-radius: 180px;
  height: 275px;
  width: 275px;
}

.content .media {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  background-color: #fffdff;
  border-radius: 20px;
}

.content .media .intro_content {
  flex: 1;
  padding: 20px;
  background-color: #fffdff;
  text-align: justify;
  height: 275px;
  min-width: 600px;
  border-radius: 90px;
}

h2 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

.content .media .intro_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 10px;
}

.edu_content {
  position: relative;
  padding: 15px;
  top: 25px;
  padding: 20px;
  text-align: justify;
  height: 350px;
  min-width: 600px;
  background-color: #fffdff;
}

h3 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  width: auto;
}

.edu_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 15px;
}

.edu_content ul {
  list-style-position: inside;
}

.edu_content ul li {
  background-color: #fffdff;
  padding: 5px;
  text-align: left;
}

.a_level_content {
  position: relative;
  padding: 15px;
  top: 50px;
  text-align: justify;
  height: 500px;
  min-width: 600px;
  background-color: #fffdff;
}

.a_level_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 15px;
}

.a_level_content table {
  border: solid 1px #2a2a2a;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.a_level_content table th {
  height: 50px;
  padding: 10px;
  background-color: #d0abab;
}

.a_level_content table td {
  padding: 10px;
  background-color: #fffdff;
}

.work_content {
  position: relative;
  padding: 15px;
  top: 25px;
  text-align: justify;
  height: 300px;
  min-width: 600px;
  background-color: #fffdff;
}

.work_content ul {
  list-style-position: inside;
}

.work_content li {
  background-color: #fffdff;
  padding: 15px;
  text-align: left;
  text-indent: 10px;
}

.work_content .place {
  text-indent: 50px;
}
