:root {
  font-size: 16px;
}

* {
  background-color: #faedf0;
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2a2a2a;
  background-color: #fffdff;
  font-weight: 400;
  font-size: 30px;
}

nav {
  background-color: #fffdff;
}

#nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #fffdff;
  height: 75px;
}

.nav-toggle {
  font-size: 25px;
  color: #2a2a2a;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  align-items: right;
}

.nav-toggle:hover {
  color: #d0abab;
}

.menu {
  background-color: #fffdff;
}

#links a {
  color: #2a2a2a;
  background-color: #fffdff;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  display: block;
  padding: 5px, 10px;
  text-decoration: none;
  text-align: right;
}

#links :hover {
  background-color: #d0abab;
  color: #fffdff;
  padding-left: 10px;
}

#links .item li a {
  display: none;
}

#linkedin {
  background-color: #faedf0;
  padding: 5px 10px;
  border-radius: 180px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

#linkedin:hover {
  background-color: #d0abab;
}

.icon {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fffdff;
    height: 75px;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }

  #links {
    height: auto;
    display: flex;
    list-style: none;
  }

  #links li {
    background-color: #fffdff;
  }

  #links a {
    padding: 0;
    margin: 0 5px;
    text-decoration: none;
  }
  #links a:hover {
    padding: 0;
    background: transparent;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  top: 10px;
  text-align: justify;
  height: 300px;
  min-width: 300px;
}

.content img {
  border-radius: 180px;
  height: 275px;
  width: 275px;
}

.content .media {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  background-color: #fffdff;
  border-radius: 20px;
}

.content .media .intro_content {
  flex: 1;
  padding: 20px;
  background-color: #fffdff;
  text-align: justify;
  height: 275px;
  min-width: 600px;
  border-radius: 90px;
}

h2 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

.content .media .intro_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 10px;
}

.edu_content {
  position: relative;
  padding: 15px;
  top: 25px;
  padding: 20px;
  text-align: justify;
  height: 350px;
  min-width: 600px;
  background-color: #fffdff;
}

h3 {
  color: #2a2a2a;
  background-color: #fffdff;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
  width: auto;
}

.edu_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 15px;
}

.edu_content ul {
  list-style-position: inside;
}

.edu_content ul li {
  background-color: #fffdff;
  padding: 5px;
  text-align: left;
}

.a_level_content {
  position: relative;
  padding: 15px;
  top: 50px;
  text-align: justify;
  height: 500px;
  min-width: 600px;
  background-color: #fffdff;
}

.a_level_content p {
  background-color: #fffdff;
  color: #2a2a2a;
  padding: 15px;
}

.a_level_content table {
  border: solid 1px #2a2a2a;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.a_level_content table th {
  height: 50px;
  padding: 10px;
  background-color: #d0abab;
}

.a_level_content table td {
  padding: 10px;
  background-color: #fffdff;
}

.work_content {
  position: relative;
  padding: 15px;
  top: 25px;
  text-align: justify;
  height: 300px;
  min-width: 600px;
  background-color: #fffdff;
}

.work_content ul {
  list-style-position: inside;
}

.work_content li {
  background-color: #fffdff;
  padding: 15px;
  text-align: left;
  text-indent: 10px;
}

.work_content .place {
  text-indent: 50px;
}
